body {
  font-family: Helvetica;
  text-align: center;
  background-image: url("./images/the-flatiron-building.png");
  background-position: top;
  background-repeat: repeat-x;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
  margin: 0;
}

.topnav {
  font-size: 18px;
  color: white;
  margin: 1em;
}

a:link,
a:visited {
  color: white;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

.tagline p {
  font-size: 23px;
  font-weight: bold;
  color: white;
  background-image: url("./images/the-flatiron-building.png");
  background-repeat: no-repeat;
}

.footer {
  background-color: dimgray;
  font-size: 11px;
  color: white;
  text-align: left;
}
